<!-- <div
  class="bg-[#F7CFD8] font-body flex flex-col gap-2 items-center text-2xl py-4 justify-center"
> -->
<div
  class="bg-[#374151] text-white font-body flex flex-col gap-2 items-center text-2xl py-4 justify-center"
>
  <h3 class="group font-body text-2xl hover:scale-105 transition duration-200">
    Created By Abhay Sharma!
    <span
      class="absolute left-0 bottom-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"
    ></span>
  </h3>
  <a
    href="https://github.com/Abhay212121"
    class="group hover:scale-95 transition duration-300 flex gap-2 pb-2"
    target="_blank"
    >Github
    <img
      src="https://res.cloudinary.com/df0xhk8mc/image/upload/v1747247871/logo_ncayxb.png"
      alt="logo not found"
      class="h-8" />

    <span
      class="absolute left-0 bottom-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"
    ></span
  ></a>
</div>
