<form
  method="POST"
  action="/new"
>
  <h1>New Message</h1>
  <input
    type="text"
    placeholder="Enter UserName"
    name="userName"
  />
  <input
    type="text"
    placeholder="Enter your message"
    name="userMessage"
  />
  <input
    type="submit"
    value="Submit"
  />
</form>
