<html>
  <head>
    <title>Message Board</title>
    <link
      rel="stylesheet"
      href="styles/styles.css"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Coiny&family=Patrick+Hand&family=Patrick+Hand+SC&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/images/cursor.png"
      type="image/x-icon"
    />
  </head>
  <body class="bg-[#CBD1DB]">
    <%- include('header.ejs') %>
    <div class="flex justify-center mb-[14vh]">
      <form
        method="POST"
        action="/new"
        class="flex border-4 mt-[10vh] bg-amber-100 py-10 text-2xl w-[30vw] items-center flex-col gap-6"
      >
        <h1
          class="group font-body text-4xl hover:scale-105 transition duration-200"
        >
          Enter your Message!
          <span
            class="absolute left-0 bottom-0 h-[2px] w-0 bg-black transition-all duration-300 group-hover:w-full"
          ></span>
        </h1>

        <input
          type="text"
          placeholder="Enter UserName"
          name="userName"
          class="border py-1 px-2 w-[80%] font-data bg-white"
        />
        <textarea
          type="text"
          placeholder="whats on your mind?..."
          name="userMessage"
          class="border p-2 w-[80%] h-32 resize-none font-data bg-white"
        ></textarea>
        <input
          type="submit"
          value="Submit"
          class="border-2 p-2 w-[80%] rounded-lg cursor-pointer hover:bg-amber-200 bg-white hover:underline transition duration-300"
        />
      </form>
    </div>
    <%- include("footer") %>
  </body>
</html>
