<div class="container bg-[#FBF3C1]">
  <div class="w-[85%] items-center mx-auto justify-between flex font-head py-6">
    <a href="/"><h1 class="text-3xl">Mini Message Board</h1></a>
    <a
      href="/new"
      class="group hover:scale-105 transition duration-200"
    >
      Leave a message =>
      <span
        class="absolute left-0 bottom-0 h-[2px] w-0 bg-black transition-all duration-300 group-hover:w-full"
      ></span>
    </a>
  </div>
</div>
